<section class="post">
    <div class="title">
        <h2><a id="post-title-link" href="/post/{{id}}">{{title}}</a></h2>
        <h4>Posted by {{user.username}} on {{format_date date_created}}</h4>
    </div>
    <div class="content">
        <p>
            {{content}}
        </p>
    </div>
</section>